*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'monospace';
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
*::selection{
    background-color: white;
    color: rgb(78, 102, 240);
}
body::-webkit-scrollbar{
    display: block;
    width: 5px;
    background-color: rgb(78, 102, 240);
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(223, 63, 63);
    border-radius: 50px;
}
#cursor-blur{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgba(12, 191, 204, 0.255);
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}
#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: aqua;
    position: fixed;
    z-index:9;
}
#nav{
    height: 140px;
    width: 100%;
    padding: 0px 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    position: fixed;
    z-index: 99;
}
#nav img{
    height: 75px;
    scale: 1;
    transition: 0.5s;
}
#nav img:hover{
    scale: 1.35;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
    scale: 1;
    transition: 0.5s;
}
#nav h4:hover{
    scale: 1.4;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}
#page1{
    height: 100vh;
    width: 100%;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}
#page1 #arrow{
    width: 200px;
    height: 200px;
    background-color: transparent;
    position:absolute;
    display: flex;
    left: -2%;
    bottom:0%;
    border: 2px solid rgb(78, 102, 240);
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition:all ease 0.5s;
}
#page1 #arrow i{
    font-size: 50px;
    font-weight: 300;
}
#page1 #arrow:hover{
    scale: 0.4;
    background-color: rgb(78, 102, 240);
}
#page1 h1{
    font-size: 120px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "HELP. REJOICE. REPEAT.";
    position: absolute;
    top: 6px;
    right: -6px;
    color: black;
    -webkit-text-stroke: 4px rgb(78, 102, 240);
    z-index: -1;
}
#page1 h2{
    font-size: 40px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
}
#page1 p{
    font-size: 20px;
    font-weight: 300;
    width: 40%;
    text-align: center;
    line-height: 30px;
}
#page2{
    width: 100%;
    min-height: 100vh;
}
#scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
    margin-bottom: 80px;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    transition: all linear 0.3s;
    color: transparent;
    -webkit-text-stroke: 4px rgb(78, 102, 240);
}
#scrollerIn{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller h4:hover{
    color: rgb(78, 102, 240);
}
@keyframes scroll{
        from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#aboutUs{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 10;
    margin-bottom: 50px;
}
#aboutUs img{
    height: 60%;
    border-radius: 20px;
    object-fit: cover;
}
#aboutUsIn{
    width: 40%;
    text-align: center;
}
#aboutUsIn h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
#aboutUsIn p{
    font-size: 20px;
    line-height: 25px;
}
#cards{
    background-color: black;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.card{
    height: 80%;
    width: 22%;
    background-color: purple;
    border-radius: 20px;
    background-size: cover;
    transition: all ease 0.6s;
    background-position: center;
    overflow: hidden;
    z-index:10;
    margin-bottom: 50px;
}
#card1{
    background-image: url(images/activities.jpg);
}
#card2{
    background-image: url(images/spots.jpg);
}
#card3{
    background-image: url(images/pets.jpg);
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgb(78, 102, 240,0.75);
    padding: 50px;
    padding-top: 80px;
    opacity: 0;
    transition: all ease 0.6s;
}
.overlay h4{
    color: #000;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
}
.overlay p{
    color: #000;
    font-size: 20px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1,1,0,20deg);
}
#purpdiv{
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    background:linear-gradient(to left bottom,rgb(78, 102, 240),rgb(50, 66, 160));
}
#purpdiv img{
    height: 100%;
    width: 10%;
    object-fit: cover;
}
#purpdiv h4{
    font-size: 25px;
    width: 28%;
    text-align: center;
    line-height: 40px;
    color: black;
    text-transform: uppercase;
}
#purpdivImg1{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page3>p{
    font-size: 35px;
    font-weight: 700;
    width: 60%;
    line-height: 45px;
    text-align: center;
}
#page3 img{
    position: absolute;
    height: 100px;
}
#buff2{
   top: 27%; 
   left: 15%;
   -webkit-transform: scaleY(-1);
   transform: scaleY(-1);
    z-index: 10;
}
#buff1{
    top: 62%;
    left: 80%;
    z-index: 10;
}
#page4{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
}
.chotecards{
    height: 75%;
    width: 22%;
    background-color: purple;
    border-radius: 20px;
    background-size: cover;
    transition: all ease 0.6s;
    background-position: center;
    overflow: hidden;
    z-index:10;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#chotecards1{
    background-image: url(images/events.jpg);
}
#chotecards2{
    background-image: url(images/certifications.png);
}
#chotecards3{
    background-image: url(images/community.png);
}
.chotecards h2{
    height: 100%;
    width: 100%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(78, 102, 240,0.9);
    opacity: 1;
    transition: all ease 0.6s;
    color: #000;
}
.chotecards:hover h2{
    color: rgb(187, 255, 60);
    background-color: transparent;
    font-size: 50px;
}
.chotecards:hover{
    transform: rotate3d(-1,1,0,20deg);
}
#page4 h1{
    font-size: 115px;
    position: absolute;
    top: -12%;
    z-index: 9;
    font-weight: 900;
    color: black;
    -webkit-text-stroke: 2px white;
    transition: all ease 0.5s;
}
#page4 h1:hover{
    -webkit-text-stroke: 2px rgb(78, 102, 240);
    color: white;
}
#footer{
    min-height: 40vh;
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0),rgb(27, 39, 105));
    overflow: hidden;
    padding: 60px 60px;
}
#mainfooter{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    line-height: 56px;
}
#mainfooter h2{
    font-weight: 900;
    font-size: 35px;
}
#imgs{
    width: 10%;
}
#imgs img{
    object-fit: cover;
}
#logo img{
    height: 100px;
    margin-bottom: 30px;
    margin-left: 50px;
}
#socials{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#socials img{
    border-radius: 40%;
    width: 30px;
    height: 30px;
    justify-content: center;
}
#infos p{
    line-height: 20px;
}
#endfooter{
    padding-top: 100px;
    text-align: center;
    color: white;
    font-size: 20px;
}